table .datum {
    background-color: var(--klausurFarbe);
}

#pruefungenbutton {
    text-align: right;
}

h1 {
    color: var(--klausurFarbe);
}

table tr:hover .farbe {
    color: var(--klausurFarbe);
    transition: 200ms;
}