* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --pSize: clamp(.8rem, 2vw, 1.1rem);
    --h1Size: clamp(1rem, 6vw, 3rem);
    --h3Size: clamp(1rem, 3vw, 1.5rem);
    --h4Size: clamp(1rem, 2.5vw, 1.3rem);
    --klausurFarbe: rgb(51, 167, 255);
    --pruefungFarbe: rgb(255, 170, 12);
    --erledigtFarbe: rgb(110, 110, 110);
    --hintergrundFarbe: white;
    --hintergrundFarbe2: rgb(233, 233, 233);
    --tabellenZeileHoverFarbe: rgb(218, 218, 218);
    --tabelleTrennLinienFarbe: #cfcfcf;
    --schriftFarbe: black;
}

body {
    /*background: #c9c9c9;
    background: linear-gradient(0deg, rgb(211, 211, 211) 0%, rgba(242, 242, 242, 1) 20%, rgba(255, 255, 255, 1) 100%);*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background-color: var(--hintergrundFarbe);
    color: var(--schriftFarbe);
    margin: 0 .8rem;
}

.alles {
    min-height: 100vh;
}

html {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: var(--h1Size);
    margin: 0;
    text-decoration: underline;
}

p,
span {
    margin: 0;
    font-size: var(--pSize);
}

li {
    font-size: var(--pSize);
}

h3 {
    font-size: var(--h3Size);
    margin: .5rem;
}

h4 {
    font-size: var(--h4Size);
    margin: .5rem;
}

.ueberschrift {
    padding: 10px;
}

.tabelle {
    overflow-x: scroll;
    padding: 0 10px;
    align-content: center;
    margin-bottom: 2rem;
}

.erledigt {
    color: var(--erledigtFarbe);
    text-decoration: line-through;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: var(--hintergrundFarbe2);
}

table tr {
    transition: 200ms;
}

table tr:not(:first-child):hover {
    background-color: var(--tabellenZeileHoverFarbe);
    transition: 200ms;
}

table .datum {
    padding: 5px;
    border-radius: 5px;
}

th,
td {
    border-bottom: 1px solid var(--tabelleTrennLinienFarbe);
}

table td {
    text-align: left;
    padding: .8rem;
    min-width: fit-content;
}

.farbe {
    transition: 200ms;
}

ol {
    list-style-position: inside;
    padding: 0;
}

button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to top, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #bbbbbb;
    cursor: pointer;
    font-size: var(--pSize);
    padding: 6px 24px;
}

button:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
    text-decoration: underline;
}

button:active {
    position: relative;
    top: 1px;
    color: rgb(71, 71, 71);
}

@media (prefers-color-scheme: dark) {
    :root {
        --hintergrundFarbe: #0D0E0D;
        --hintergrundFarbe2: #131313;
        --tabellenZeileHoverFarbe: #222222;
        --schriftFarbe: white;
        --tabelleTrennLinienFarbe: #444444;
    }
}