table .datum {
    background-color: var(--pruefungFarbe);
}

#startseitebutton {
    text-align: left;
}

h1 {
    color: var(--pruefungFarbe);
}

.hinweis {
    text-align: center;
}

table tr:hover .farbe {
    color: var(--pruefungFarbe);
    transition: 200ms;
}