table .datum {
    background-color: var(--pruefungFarbe);
}

#startseitebutton {
    text-align: left;
}

h1 {
    color: var(--pruefungFarbe);
}

.hinweis {
    text-align: center;
    padding: .5em;
}

table tr:hover .farbe {
    color: var(--pruefungFarbe);
    transition: 200ms;
}

.hinweis span {
    color: var(--pruefungFarbe);
    font-size: var(--h3Size);
}

.hinweis span:hover {
    color: var(--schriftFarbe);
    transition: 200ms;
}